{% extends 'base.html.twig' %}

{% block title %}Créer un contenu{% endblock %}

{% block body %}
    <h1>Créer un nouveau contenu</h1>

    {{ form_start(form) }}
        {{ form_row(form.Title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.status) }}
        {{ form_row(form.level) }}
        {{ form_row(form.type) }}
        {{ form_row(form.imageFile) }}
        <button class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
{% endblock %}