{% extends 'base.html.twig' %}

{% block title %}Contenu{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="card shadow-lg">
            <div class="card-body">
                <h1 class="card-title text-center mb-4">{{ contenu.title }}</h1>
                
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ asset('uploads/images/' ~ contenu.image.imageName) }}" 
                             alt="Image du contenu" 
                             class="img-fluid rounded shadow" 
                             style="max-height: 300px; object-fit: cover; width: 100%;">
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Niveau :</strong> {{ contenu.level }}</li>
                            <li class="list-group-item"><strong>Type :</strong> {{ contenu.type }}</li>
                            <li class="list-group-item"><strong>Statut :</strong> {{ contenu.status }}</li>
                            <li class="list-group-item"><strong>Créé le :</strong> {{ contenu.createdAt|date('d/m/Y') }}</li>
                            <li class="list-group-item"><strong>Publié le :</strong> {{ contenu.publishAt|date('d/m/Y') }}</li>
                        </ul>
                    </div>
                </div>
                
                <div class="mt-4">
                    <p class="lead">{{ contenu.content }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
