<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        <link rel="manifest" href="/manifest.json">
        <meta name="theme-color" content="#000000">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <!-- Logo (masqué en mode mobile) -->
                <img src="{{ asset('images/logo.png') }}" alt="Image du contenu" class="card-img-top img-fluid d-none d-lg-block" style="width: 3%; object-fit: cover;">

                <a class="navbar-brand text-warning" href="{{ path('home') }}">STRESSLESS</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse ms-auto" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin') }}">Gestion Administrateur</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('questionnaire_create') }}">Questionnaire</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contenu') }}">Contenu</a>
                        </li>

                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('compte') }}">Mon Compte</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% for flash_message in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ flash_message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}


        <div class="container mt-5">
            {% block body %}
            {% endblock %}
        </div>

        <footer class="footer text-center py-3 mt-auto">
            <p class="mb-0">&copy; 2025 Stressless. Tous droits réservés.</p>
        </footer>

        <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
            navigator.serviceWorker.register('/sw.js')
                .then(reg => console.log("Service Worker enregistré", reg))
                .catch(err => console.log("Erreur Service Worker", err));
            });
        }
        </script>

    </body>
</html>
