{% extends 'base.html.twig' %}

{% block title %}Questionnaire{% endblock %}

{% block body %}
    <div class="container">
        <div class="questionnaire-container bg-white shadow">
            <h1 class="text-center text-white bg-success py-2">Questionnaire</h1>
            <p class="question-title text-center">{{ question.question }}</p>
            {{ form_start(form) }}
                <div class="container">
                    {% for child in form.choix %}
                        {% if loop.index0 is divisible by(2) %}
                            <div class="row"></div>
                        {% endif %}
                        <div class="col-6 mb-3">
                            <div class="form-check">
                                {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(child, null, {'attr': {'class': 'form-check-label'}}) }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="d-flex justify-content-center mt-4">
                    {{ form_row(form.submit) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


